.front{
	margin: 1% 1% 0% 1%;
}

.tb {
	margin: 1% 2% 1% 2%;
	width: 96%;
}

.tr {
	font-size: 150%;
	text-align: center;
	line-height: 280%;
	border-bottom: solid rgb(135,125,125) 2px;	
}

td {
	width: 8%;
}

input[type=checkbox] {
	transform: scale(2, 2);
}

.ckbox {
	padding-left: 2%;
	width: 1%;
}

.eqname{
	width: 12%;
}

.filter {
	margin: 3% 0% 2% 5%;
	font-size: 120%;
}
#time{
    margin: 0% 0% 0% 5%;
}